@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');
header{
    height: 100%;
}
.hero{
    background-image: url('/Hero\ Banner/1.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body, html{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    height: 100%;
    background-color: #c7c7c7c1;
}
a{
    text-decoration: none;
}
a:visited{
    color: inherit;
}
nav{
    display: flex;
    justify-content: flex-end;
    background-color: #d1d1d1c1;
    border-bottom: 3px solid #788895;
}
#navLogo{
    margin-right: auto;
    background-color: #9d96a988;
}
nav img{
    width: 240px;
    height: 48px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
nav ul{
    list-style-type: none;
    text-align: right;
}
nav ul li{
    display: inline;
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
}
nav ul li:hover{
    border-bottom: 0.3em solid #6558f5;
    font-weight: bold;
}
nav ul .applyBtn a{
    border: 0.2rem solid #6558f5;
    padding: 0.5rem;
    border-radius: 1.5rem;
    color: #6558f5;
}
nav ul .applyBtn:hover{
    color: #6558f5;
}
/* Registration Form */
#registForm{
    position: relative;
    display: table;
    border: 2px solid #fff;
    padding: 15px;
    margin: auto auto auto 15%;
}
.input{
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #788895b3;
    border-radius: 0.3rem;
    background: #f1f1f1;
    font-family: inherit;
}
.input:focus{
    background-color: #ddd;
    outline: none;
}
.registBtn{
    float: right;
    background-color: #6558f5;
    color: #fff;
    font-family: inherit;
    border: none;
    border-radius: 0.2rem;
    padding: 10px;
}
/* Hero Form */
.hero #heroForm{
    /* border: 2px solid black; */
    display: block;
    height: 90%;
    margin: auto;
}
.hero h1{
    margin-top: 100px;
    margin-left: 15%;
}
.hero p{
    margin-left: 15%;
}
/* TABLE */
.scheduleSec{
    overflow-x: auto;
    text-align: center;
}
table, th, td{
    border-collapse: collapse;
    /* border-spacing: 0; */
    /* width: 100%; */
    border: 1px solid #788895;
}
#scheduleTbl{
    margin-left: auto;
    margin-right: auto;

}
/* FrontEnd table styling */
tr.fe td:nth-child(6), tr.fe td:nth-child(7), tr.fe td:nth-child(8), tr.fe td:nth-child(9){
    background-color: #f3c19d;
}
/* Java table styling */
tr.jv td:nth-child(2), tr.jv td:nth-child(3), tr.jv td:nth-child(4), tr.jv td:nth-child(5){
    background-color: #96c3ec;
}
/* .Net table styling */
tr.nt td:nth-child(10), tr.nt td:nth-child(11), tr.nt td:nth-child(12), tr.nt td:nth-child(13){
    background-color: #90bcb3;
}
/* Footer */
footer a{
    font-weight: bolder;
}
footer .site{
    padding: 3rem 0;
}