.hero{
    background-image: url('/Hero\ Banner/cx-insight-YloghyfD7e8-unsplash.jpg');
}
body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
a:visited{
    color: inherit;
}
nav{
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #788895;
}
#navLogo{
    margin-right: auto;
    background-color: #b2acfa;
}
nav img{
    width: 240px;
    height: 48px;
}
nav ul{
    list-style-type: none;
    text-align: right;
}
nav ul li{
    display: inline;
    font-size: 1.2rem;
    padding: 1rem;
    cursor: pointer;
}
nav ul li:hover{
    border-bottom: 0.3em solid #6558f5;
    font-weight: bold;
}